<!-- Template Inheritance for Dont Repeat Yourself (DRY) coding principles. -->
<!-- Template Inheritance allows us to create a base template, we can inherit from. -->
<!-- This saves us a lot of repetitive work, and makes it much easier to maintain the same base look and feel
across our entire Website. -->
<!-- Main steps for Template Inheritance:
* Find the repetitive parts of your project templates
* Create a base template for them.
* Set the tags in the base template.
* Extend and call those tags anywhere. -->

<!-- REFER: https://docs.djangoproject.com/en/4.1/ref/templates/language/#template-inheritance -->


<!-- TEMPLATE FILTERING: -->
<!-- REFER: https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#filter -->
<!-- when you want to use some information from your model across various views/pages after making slight
edits to the information before injecting it (string operations or arithmetic), you can use Template Filtering -->
<!-- Django's template filters allow you to effect the injection before displaying to the user -->
<!-- The general form of a template filter is: \{\{ value | filter:"parameter" \}\} -->
<!-- Not all Filters take in parameters and many of these filters are based off of common python built-in functions -->
<!-- We can also create our own custom Template Filters -->
<!-- REFER: https://docs.djangoproject.com/en/4.1/howto/custom-template-tags/#writing-custom-template-filters -->
<!-- To create custom Template Filters: -->
<!-- First create a directory called 'templatetags' within the application's directory -->
<!-- add an '__init__.py' empty file so python will treat this directory as a module -->
<!-- Then, create a python file with your filter function - 'my_extras.py' in this case -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <nav class="navbar sticky-top navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'basic_app:other' %}">Other</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        {% block body_block %}
        <!-- Anything outside of this will be inherited if you extend this HTML file in another template -->
        <!-- You can use the same block name within the block template syntax to inject content specific to
        the child template that is inheriting/extending this HTML as parent. -->
        {% endblock body_block %}
    </div>
</body>
</html>