<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Here are your Users:</h1>
    {% if user_list %}
        <ol>
        {% for record in user_list %}
        <li>User Info
            <ul>
                <li>First Name: {{ record.first_name }}</li>
                <li>Last Name: {{ record.last_name }}</li>
                <li>Email: {{ record.email }}</li>
            </ul>
        </li>
        {% endfor %}
        </ol>
    {% else %}
    <p>No Users Found!</p>
    {% endif %}
    </table>
    
</body>
</html>