{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <div class="post">
        <p class="date">created: {{post.created_date|date:"d-m-Y"}}</p> <!-- Using django's inbuild template filters to format date -->
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1> <!-- Use post's primary key to link to the post's detail page -->
        <p>{{post.text|truncatechars:200}}</p> <!-- in-built django template filter to truncate the text to the first 200 characters only. -->
    </div>
    {% endfor %}
{% endblock content %}