{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="posttitle text-centre">{{post.title}}</h1> <!-- loader is the colouring class from the medium.com's CSS styles -->
    {% if post.publish_date %}
        <div class="date postdate">
            {{post.publish_date}}
        </div>
    {% else %}
        <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-light">Publish</a> <!-- button to link to url named 'post_publish' with the post primary key as URL parameter -->
    {% endif %}

    <p class="postcontent">{{ post.title|safe|linebreaksbr }}</p> <!-- safe and linebreaksbr are template filter to 
    properly render html tags like <b> and <br> without adding them as part of the text -->

    {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary"> <!-- URL link to the named 'post_edit' URL view with the primary key parameter corresponding to the post -->
            <span class="fa-solid fa-pen"></span>
        </a>
        <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-primary"> <!-- URL link to the named 'post_remove' URL view with the primary key parameter corresponding to the post -->
            <span class="fa-solid fa-trash"></span>
        </a>
    {% endif %}
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-primary btn-comment">Add Comment</a> <!-- function-based view to add comments to a given post using the post primary key -->

    <div class="contain">
        {% for comment in post.comments.all %} <!-- for every comment in the post -->
            <br>
            {% if user.is_authenticated or comment.approved_comment %} <!-- If the user is authenticated or the post comment is approved -->
                {{comment.created_date}}
                {% if not comment.approved_comment %}
                <a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-light"> <!-- URL link to the named 'comment_remove' URL view with the primary key parameter corresponding to the comment -->
                    <span class="fa-solid fa-trash"></span>
                </a>
                <a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-primary"> <!-- URL link to the named 'comment_approve' URL view with the primary key parameter corresponding to the comment -->
                    <span class="fa-solid fa-check"></span>
                </a>
                {% endif %}
                <p>{{comment.text|safe|linebreaks}}</p> <!-- Use in-built django template filters to render HTML tags of the comment text properly -->
                <p>Posted By: {{comment.author}}</p>
            {% endif %}
            {% empty %} <!-- empty template tag - what to do if there are no comments at all in 'post.comments.all' -->
            <p>No Comments</p>
        {% endfor %}
    </div>
{% endblock content %}